{% extends 'main.html' %}
{% block title %}- Product {{obj.name}} {% endblock title %}

{% block content %}

{% include 'product/products/update-product-modal.html' %}

<main class="content p-2">
    <div class="container-xl">
        <!-- Title + Action -->
        <div class="row">
            <div class="col">
                <h4 class="title">
                    {{obj.name}}
                </h4>
            </div>
            <div class="col">
                <div class="action text-end">
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal{{obj.id}}">
                        <i class="fa-solid fa-pen-to-square"></i>
                </div>
            </div>
        </div>
        <!--End Title + Action -->
        <hr>
        <!-- Product Info -->
        <div class="row">
            <div class="col d-flex">
                <div class="card flex-fill border-0">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col pt-4">
                                <div class="p-3 m-1">
                                    <h4 class="mt-2 p-2 text-center">
                                        <span class="badge text-bg-secondary">{{obj.category}}</span>
                                        <span class="badge text-bg-info">{{obj.measurement}}</span>
                                        {% if obj.active == True %}
                                        <span class="badge text-bg-success">Active</span>
                                        {% else %}
                                        <span class="badge text-bg-danger">Inactive</span>
                                        {% endif %}
                                    </h4>
                                        <div class="container pt-4">
                                            <table class="table table-striped table-bordered border-dark">
                                                <thead>
                                                    <tr class="table-dark text-white text-center">
    
                                                        <th scope="col">Price</th>
                                                        <th scope="col">Discount</th>
                                                        <th scope="col">Final Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center">
                                                        <td>{{obj.price}} €</td>
                                                        <td>{{ obj.discount|default:"No discount" }} %</td>
                                                        <td><b>{{obj.final_price}} €</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card text-bg-dark mb-3">
                                            <div class="card-header">Description</div>
                                            <div class="card-body">
                                              <p class="card-text">{{obj.description}}</p>
                                            </div>
                                        </div>                                                                  
                                </div>
                            </div>
                            <div class="col-md-4 align-self-center text-end">
                                <img src="{{obj.product_img.url}}" class="img-fluid illustration-img" alt="{{obj.name}} image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product Info -->

        <!-- Stock pie chart -->
         <div class="row g-0 w-100">
            <div class="col-md-6 mb-2 d-flex flex-fill justify-content-center">
                {% include 'product/products/stock-pie-chart.html' %}
            </div>
            <div class="col-md-6 mb-2 d-flex flex-fill justify-content-center">
                {% include 'product/products/stock-pie-chart.html' %}
            </div>
         </div>

        <!-- Transactions Info -->
        {% include 'product/products/transactions-info.html' %}
        <!-- End Transactions Info -->
    </div>
</main>
{% endblock content %}