<div class="row mt-2">
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title mb-2 text-muted">
                    Sales
                </h5>
                <hr>
                <ul class="list-group">
                    {% for sale in sales %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <a class="text-decoration-none text-secondary" href="{% url 'partners:client' sale.client.id %}">{{sale.client.name}}</a> - 
                                <a class="text-decoration-none text-success" href="{% url 'transactions:sale' sale.transaction_id %}">{{sale.transaction_id}}</a>
                            </div>
                            <small class="text-muted">{{sale.transaction_date}}</small>
                          <span class="badge bg-success rounded-pill">{{sale.quantity}} {{obj.measurement}}</span>
                        </div>
                        <span class="badge bg-secondary rounded-pill">{{sale.final_price}} €</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title mb-2 text-muted">
                    Purchases
                </h5>
                <hr>
                <ul class="list-group">
                    {% for purchase in purchases %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a class="text-decoration-none text-secondary" href="{% url 'partners:supplier' purchase.supplier.id %}">{{purchase.supplier.name}}</a> - 
                                    <a class="text-decoration-none text-warning" href="{% url 'transactions:purchase' purchase.transaction_id %}">{{purchase.transaction_id}}</a>
                                </div>
                                <small class="text-muted">{{purchase.transaction_date}}</small>
                                <span class="badge bg-warning rounded-pill">{{purchase.quantity}} {{obj.measurement}}</span>
                            </div>
                          <span class="badge bg-secondary rounded-pill">{{purchase.final_price}} €</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>