{% extends 'main.html' %}
{% block title %}- Client Type {{obj.type}} {% endblock title %}

{% block content %}

<main class="content p-2">
    <div class="container-fluid">
        <!-- Title + Edit Client Type Form -->
        <div class="row">
            <div class="col-md-6">
                <h4 class="title">
                    {{obj.type}}
                </h4>
            </div>
            <div class="col-md-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Edit Client" aria-describedby="button-addon2" name="type" value="{{obj.type}}">
                        <button class="btn btn-outline-warning" type="submit" id="button-addon2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>
                </form>    
            </div>
        </div>
        <!-- End Title + Edit Client Type Form -->
        <hr>
    </div>
</main>

{% endblock content %}