<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModal">Create Product</h5>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body row g-3">
                        <!-- Partner Name -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="partners-name" name="name">
                                <label for="partners-name">Name</label>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="partners-email" name="email">
                                <label for="partners-email">Email</label>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="partners-phone-number" name="phone_number">
                                <label for="partners-phone-number">Phone</label>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="col-12">
                          <div class="form-floating">
                            <textarea class="form-control" placeholder="Partner Adrress..." id="partners-address" name="address" style="height: 100px"></textarea>
                            <label for="partners-address">Address</label>
                          </div>
                        </div>
                        <!-- Client -->
                        <div class="col-md-6">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="partners-is_client" name="is_client">
                              <label class="form-check-label" for="partners-is_client">
                                Is Client?
                              </label>
                            </div>
                        </div>
                        <!-- Supplier -->
                        <div class="col-md-6">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="partners-is_supplier" name="is_supplier">
                              <label class="form-check-label" for="partners-is_supplier">
                                Is Supplier?
                              </label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer col-12">
                    <button type="submit" class="btn btn-warning border-2 text-bottom p-2">Confirmar<span
                            class="badge bg-dark mx-2"><i class="fa-solid fa-check"></i></span></button>
                </div>
            </form>
        </div>
    </div>
</div>