{% extends 'main.html' %}
{% block title %}
- Measurements
{% endblock title %}

{% block content %}
<main class="content p-2">
    <div class="container-xl">
        <!-- Title + Form -->
        <div class="row">
            <div class="col">
                <h4 class="title">
                    Measurements
                </h4>
            </div>
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Add New Measurement" aria-label="Add New Measurement" aria-describedby="button-addon2" name="measure">
                        <button class="btn btn-outline-warning" type="submit" id="button-addon2">
                            <i class="fa-solid fa-folder-plus"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Title + Form -->
        <hr>          
        <!-- Card with Table -->
         <div class="card border-0">
            <div class="d-flex px-4 pt-4">
                <table class="table table-striped table-bordered border-dark">
                    <thead>
                        <tr class="table-dark text-white text-center">
                            <th scope="col">#</th>
                            <th scope="col">Measure</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr class="text-center">
                            <th scope="row">{{obj.id}}</th>
                            <th scope="row">{{obj.measure}}</th>
                             <td>
                                <!-- Detail -->
                                <a class="btn btn-sm btn-outline-success" href="{% url 'product:measurement' obj.id %}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <!-- Delete -->
                                <a class="btn btn-sm btn-outline-danger" href="{% url 'product:measurement-delete' obj.id %}">
                                    <i class="fa-solid fa-x"></i>
                                </a>
                             </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
        <!-- End Card with Table -->
         {% include 'pagination.html' %}
    </div>
</main>
{% endblock content %}

