{% extends 'main.html' %}
{% block title %}
- Stock Info
{% endblock title %}

{% block content %}
<main class="content p-2">
    <div class="container-xl">
        <!-- Page title -->
        <div class="col">
            <div class="row-md-6">
                <h4 class="title">
                    Stock Information
                </h4>
            </div>
        </div>
        <!-- End Page title -->
        <hr>
        
        <!-- Bar Chart -->
        <div class="row g-0 w-100">
            {% include 'stock/bar-chart.html' %}
        </div>
        <!-- End Bar Chart -->
      
        <!-- Card with Table -->
         <div class="card border-0">
            <div class="d-flex px-4 py-4">
                <table class="table table-striped table-bordered border-dark">
                    <thead>
                        <tr class="table-dark text-white text-center">
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Value</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                        <tr class="text-center">
                            <th scope="row">{{obj.id}}</th>
                            <th scope="row">{{obj.product.name}}</th>
                            <th scope="row">{{obj.quantity}} {{obj.product.measurement}}</th>
                            <th scope="row">{{obj.value}} €</th>
                             <td>
                                <!-- Detail -->
                                <a class="btn btn-sm btn-outline-success" href="{% url 'product:detail' obj.product.id %}">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <!-- Delete -->
                                <a class="btn btn-sm btn-outline-danger" href="{% url 'product:delete' obj.product.id %}">
                                    <i class="fa-solid fa-x"></i>
                                </a>
                             </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
        <!-- End Card with Table -->
         {% include 'pagination.html' %}
    </div>
</main>
{% endblock content %}