{% extends 'main.html' %}
{% block title %}
- Dashboard
{% endblock title %}

{% block content %}
<main class="content">
    <div class="container-xl">
        <div class="row w-100 g-0">
          <!-- Sales -->
          <div class="col-md-2 col-sm-6 mb-1 d-flex flex-fill justify-content-center">
            <div class="kpi-card orange">
              <span class="card-value">{{sales_current_month}} €</span>
              <span class="card-text">Total Sales <b>{% now "F" %}</b></span>
              <i class="fas fa-solid fa-hand-holding-dollar icon"></i>
            </div>
          </div>
          <!-- Sales Current Month Count -->
          <div class="col-md-2 col-sm-6 mb-1 d-flex flex-fill justify-content-center">
            <div class="kpi-card grey-dark">
              <span class="card-value">{{sales_count_current_month}}</span>
              <span class="card-text">Sales in <b>{% now "F" %}</b></span>
              <i class="fas fa-comments-dollar icon"></i>
            </div>
          </div>
          <!-- Purchases -->
          <div class="col-md-2 col-sm-6 mb-1 d-flex flex-fill justify-content-center">
            <div class="kpi-card red-gradient">
              <span class="card-value">{{purchases_current_month}} €</span>
              <span class="card-text">Total Purchases <b>{% now "F" %}</b></span>
              <i class="fas fa-solid fa-cart-arrow-down icon"></i>
            </div>
          </div>
          <!-- Purchases Current Month Count -->
          <div class="col-md-2 col-sm-6 mb-1 d-flex flex-fill justify-content-center">
            <div class="kpi-card grey-dark">
              <span class="card-value">{{purchases_count_current_month}}</span>
              <span class="card-text">Purchases in <b>{% now "F" %}</b></span>
              <i class="fas fa-comments-dollar icon"></i>
            </div>
          </div>
          <!-- Top 1 product -->
          <div class="col-md-2 col-sm-6 mb-1 d-flex flex-fill justify-content-center">
            <div class="kpi-card purple">
              <span class="card-value">{{top_product.product__name}}</span>
              <span class="card-text">Top Selling Product</b></span>
              <i class="fas fa-1 icon"></i>
            </div>
          </div>


      </div>
      <div class="row g-0 w-100">
        <!-- Bar Chart -->
        {% include 'stock/bar-chart.html' %}
        <!-- End Bar Chart -->
      </div>
      <div class="row g-0 w-100">
        <!-- Products -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Products</h5>
            <div class="card-body">
              <a href="{% url 'product:table' %}" class="btn btn-outline-warning btn-lg mt-2">{{products_count}}
                <i class="fa-solid fa-box px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Categories -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Categories</h5>
            <div class="card-body">
              <a href="{% url 'product:categories' %}" class="btn btn-outline-warning btn-lg mt-2">{{categories_count}}
                <i class="fa-solid fa-list px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Measurements -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Measurements</h5>
            <div class="card-body">
              <a href="{% url 'product:measurements' %}" class="btn btn-outline-warning btn-lg mt-2">{{measurements_count}}
                <i class="fa-solid fa-ruler px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Clients -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Clients</h5>
            <div class="card-body">
              <a href="{% url 'partners:clients' %}" class="btn btn-outline-warning btn-lg mt-2">{{clients_count}}
                <i class="fa-solid fa-person px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Sales -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Sales</h5>
            <div class="card-body">
              <a href="{% url 'transactions:sales' %}" class="btn btn-outline-warning btn-lg mt-2">{{sales_count}}
                <i class="fa-solid fa-money-bill-trend-up px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Purchases -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Purchases</h5>
            <div class="card-body">
              <a href="{% url 'transactions:purchases' %}" class="btn btn-outline-warning btn-lg mt-2">{{purchases_count}}
                <i class="fa-solid fa-money-check px-2"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Suppliers -->
        <div class="col-md-3 col-sm-6 mb-2 p-2 d-flex flex-fill justify-content-center">
          <div class="card text-center border-secondary border-1 shadow bg-transparent text-secondary" style="width: 22rem;">
            <h5 class="card-header bg-dark text-white">Suppliers</h5>
            <div class="card-body">
              <a href="{% url 'partners:suppliers' %}" class="btn btn-outline-warning btn-lg mt-2">{{suppliers_count}}
                <i class="fa-solid fa-truck-fast px-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock content %}
