{% extends 'main.html' %}

{% block content %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center p-2">
        <div class="card">
            <div class="card-action text-end">
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-warning"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <hr>
            <div class="card-body">
                <div class="p-3 m-1">
                    Do you want to delete <strong>{{obj.name}}</strong> ??
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}

                        <div class="form__action text-center">
                            <button type="submit" class="btn btn-warning border-2 text-bottom p-2">Yes<span
                                    class="badge bg-dark mx-2"><i class="fa-solid fa-check"></i></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}