{% load static %}
{% if request.user.is_authenticated %}
<nav class="navbar navbar-expand border-bottom">
    <!-- Toggle SideBar -->
    <button class="btn" id="sidebar-toggle" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Search with q -->
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-warning" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
     
    <!-- Dropdown settings -->
    <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-5 mx-4">
                    <button class="btn btn-dark">
                        <i class=" fa-solid fa-gear"></i>
                    </button>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item"><i class="fa-solid fa-user"></i> Profile</a>
                    <a href="#" class="dropdown-item"><i class="fa-solid fa-gears"></i> Settings </a>
                    <a href="{% url 'authentic:logout' %}" class="dropdown-item"><i class="fa-solid fa-door-open"></i>
                        Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Dropdown settings -->
</nav>
{% endif %}