{% if request.user.is_authenticated %}
<aside id="sidebar" class="js-sidebar">
    <!-- Content for sidebar -->
    <div class="h-100">
        <div class="sidebar-logo bg-secondary text-center text-warning">
            <a href="#">DataMotive</a>
        </div>
        <ul class="sidebar-nav">
            <hr>
            <!-- Home -->
            <li class="sidebar-item">
                <a href="{% url 'dashboard:home' %}" class="sidebar-link">
                    <i class="fa-solid fa-house px-2"></i>
                    Home
                </a>
            </li>
            <hr>
            <!-- Product Related -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#products" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa-solid fa-boxes-stacked px-2"></i>
                    Products
                </a>
                <hr>
                <ul id="products" class=" sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'stock:info' %}" class="sidebar-link">
                            <i class="fa-solid fa-boxes px-2"></i>
                            Stock
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item">
                        <a href="{% url 'product:table' %}" class="sidebar-link">
                            <i class="fa-solid fa-box px-2"></i>
                            Product Table
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item">
                        <a href="{% url 'product:categories' %}" class="sidebar-link">
                            <i class="fa-solid fa-list px-2"></i>
                            Categories
                        </a>
                    </li>
                    <hr>
                </ul>
            </li>
            <!-- Partners -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#partners" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa-solid fa-user px-2"></i>
                    Partners
                </a>
                <hr>
                <ul id="partners" class=" sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'partners:suppliers' %}" class="sidebar-link">
                            <i class="fa-solid fa-truck-fast px-2"></i>
                            Suppliers
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item">
                        <a href="{% url 'partners:entity-types' %}" class="sidebar-link">
                            <i class="fa-solid fa-clipboard px-2"></i>
                            Entity Type
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item">
                        <a href="{% url 'partners:clients' %}" class="sidebar-link">
                            <i class="fa-solid fa-person px-2"></i>
                            Clients
                        </a>
                    </li>
                    <hr>
                </ul>
            </li>
            <!-- Transactions -->
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#transactions" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <i class="fa-solid fa-money-bill-transfer px-2"></i>
                    Transactions
                </a>
                <hr>
                <ul id="transactions" class=" sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'transactions:sales' %}" class="sidebar-link">
                            <i class="fa-solid fa-money-bill-trend-up px-2"></i>
                            Sales
                        </a>
                    </li>
                    <hr>
                    <li class="sidebar-item">
                        <a href="{% url 'transactions:purchases' %}" class="sidebar-link">
                            <i class="fa-solid fa-money-check px-2"></i>
                            Purchases
                        </a>
                    </li>
                    <hr>
                </ul>
            </li>
        </ul>
    </div>
</aside>
{% endif %}