.icon {
    float: right;
    font-size: 500%;
    position: absolute;
    top: 0rem;
    right: -0.3rem;
    opacity: .36;
}

@media (max-width: 768px) {
    .kpi-card {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .card {
        width: 100% !important;
    }
}


.grey-dark {
    background: #495057;
    color: #efefef;
}

.red-gradient {
    background: linear-gradient(180deg, rgba(207, 82, 82, 1) 0%, rgba(121, 9, 9, 1) 80%);
    color: #fff;
}

.red {
    background: #a83b3b;
    color: #fff;
}


.purple {
    background: #886ab5;
    color: #fff;
}

.orange {
    background: #ffc241;
    color: #fff;
}

.kpi-card {
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    display: inline-flexbox;
    padding: 1em;
    border-radius: 0.3em;
    font-family: sans-serif;
    width: 240px;
    min-width: 180px;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.card-value {
    display: block;
    font-size: 200%;
    font-weight: bolder;
}

.card-text {
    display: block;
    font-size: 100%;
    padding-left: 0.1em;
}