/* Login page */
.login-page {
    /* background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(48, 92, 54) 100.2%); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper-login {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(168, 168, 168, 0.5);
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 20px rgba(161, 161, 161, 0.5);
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper-login h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(173, 172, 172, 0.5);
    border-radius: 20px;
    font-size: 16px;
    color: var(--bs-emphasis-color);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(173, 172, 172, 0.5);
}

.input-box i {
    position: absolute;
    right: 20px;
    transform: translateY(50%);
    font-size: 20px;
}

.wrapper-login .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #e9ecef;
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--bs-emphasis-color);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.wrapper-login .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--bs-emphasis-color);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}