{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block title %} - Supplier Info {% endblock title %}
{% block content %}
{% include 'partners/supplier/create-supplier-modal.html' %}

<main class="content p-2">
  <div class="container-fluid">
    <!-- Title + Action -->
    <div class="row">
      <div class="col">
        <h4 class="title">Supplier Information</h4>
      </div>
      <div class="col">
        <div class="action text-end">
          <button
            type="button"
            class="btn btn-outline-warning"
            data-bs-toggle="modal"
            data-bs-target="#createModal">
            <i class="fa-solid fa-folder-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Title + Action End -->
    <hr />
    <!-- Card with Table -->
    <div class="card border-0">
      <div class="d-flex px-4 py-4">
        <table class="table table-striped table-bordered border-dark">
          <thead>
            <tr class="table-dark text-white text-center">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Entity</th>
              <th scope="col">Active</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
              <th scope="col">Activity</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in page_obj %}
            <tr class="text-center">
              <th scope="row">{{obj.id}}</th>
              <th scope="row">{{obj.name}}</th>
              <th scope="row">{{obj.entity}}</th>
              <th scope="row">
                {% if obj.active %}
                <span class="badge rounded-pill bg-success">
                    <i class="fa-regular fa-circle-check"></i>
                </span>
                {% else %}
                <span class="badge rounded-pill bg-danger">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                {% endif %}
                </th>
              <th scope="row">{{obj.email}}</th>
              <th scope="row">{{obj.contact}}</th>
              <td>
                <!-- Detail -->
                <a
                  class="btn btn-sm btn-outline-success"
                  href="{% url 'partners:supplier' obj.id %}">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <!-- Delete -->
                <a
                  class="btn btn-sm btn-outline-danger"
                  href="{% url 'partners:delete-supplier' obj.id %}">
                  <i class="fa-solid fa-x"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Card with Table -->
     {% include 'pagination.html' %}
  </div>
</main>
{% endblock content %}
